:host {
    display: block;
    background: var(--ion-color-secondary);

    .header {
        position: absolute;
        width: 100%;
        ion-img {
            max-width: 170px;
            margin-left: 10%;
        }
        ion-toolbar {
            --background: rgba(255, 255, 255, 0);
            --border-width: 0;
            --border-style: none;
            --border-color: transparent;
            margin-top: 20px;
            ion-button {
                max-width: 130px;
                float: right;
            }
            .langButton {
                border: solid 1px #fff;
                max-width: 170px;
                margin-left: 200px;
            }
        }
    }
    .header-md::after {
        display: none!important;
    }

    .firstSection {
        min-height: 95vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        ion-col {
            z-index: 1;
        }
    }

    .concord-img-gradient {
        position: absolute;
        top: 0;
        width: 100%;
        height: 95vh;
        background: rgba(0,0,0,.4);
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.8)),color-stop(60%,rgba(0,0,0,.8)));
        background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
        background-image: -moz- oldlinear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
        background-image: -o-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
        background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    }

    h1, h2 {
        font-size: 3.125rem;
        line-height: 1.1;
        font-weight: 600;
    }

    p.large {
        font-size: 1.625rem;
        max-width: 640px;
        margin: 1rem auto;
    }

    p {
        padding-bottom: 20px;
        font-size: 1.2rem;
        margin: 1rem auto;
    }

    ion-item {
       --inner-padding-end: 0;
       --highlight-height: 0!important;
       --border-width: 0;
       max-width: 640px;
       margin: auto;

       ion-input {
           --highlight-height: 0;
       }

       ion-button {
           --border-radius: 0;
           --border-width: 0;

           border-left: 1px solid #333;
           margin: 0;
           text-transform: capitalize;
           font-size: 1.625rem;
       }
    }

    ion-row { 
        border-bottom: 8px solid #222;
    }
    ion-row:last-child { 
        border-bottom: none;
    }

    .video-image-tv {
        position: relative;
        display: block;

        video {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 73%;
            max-height: 54%;
            top: 21%;
            left: 13%;
            z-index: -1;
        }
    }

    .video-image-devices {
        position: relative;
        display: block;

        video {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 63%;
            max-height: 47%;
            top: 14%;
            left: 20%;
            z-index: -1;
        }
    }

    .item-download {
        --background: transparent;
        --inner-padding-end: 0;
        --highlight-height: 0!important;
        --border-width: 0px;
        border: solid 2px rgba(255, 255, 255,.25);
        max-width: 368px;
        margin: -2rem auto 4rem;
        border-radius: .75rem;
        font-weight: 600;
    }

    .footer {
        color: var(--ion-color-medium);
        margin: 4rem auto 1rem;

        > ion-row {
            max-width: 880px;
            margin: auto;
            border: none;
        }
        p {font-size: 1rem;}
        ul {margin: 0; padding: 0;}
        li {font-size: 0.8rem; display: block; padding: .5rem 0;}
    }
}