<ion-content class="ion-no-padding">
    <div class="header">
        <ion-toolbar>
            <ion-row class="ion-align-items-center">
                <ion-col (click)="backHome()" size="3">
                    <ion-img src="./assets/images/logo.svg"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-button color="dark" class="langButton" (click)="openPopover($event)">
                        <ion-text>{{ 'home.langue' | translate }}</ion-text>
                        <ion-icon name="globe"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button>{{ 'home.button-1' | translate }}</ion-button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </div>
    <ion-grid class="ion-no-padding">
        <!-- first row section -->
        <ion-row [style.background-image]="'url(./assets/images/netflix-image-bg.jpg)'"
            class="firstSection ion-align-items-center ion-justify-content-center">
            <ion-col size-xs="12" size-md="8">
                <ion-text color="light">
                    <h1 class="ion-margin-top ion-padding-top">
                        {{ 'home.h1-1' | translate }}
                    </h1>
                    <p class="large">
                        {{ 'home.p-1' | translate }}
                    </p>
                    <p>
                        {{ 'home.p-2' | translate }}
                    </p>
                </ion-text>

                <ion-item>
                    <ion-input placeholder="E-mail"></ion-input>
                    <ion-button size="large" routerLink="/movies" slot="end">
                        {{ 'home.button-2' | translate }}
                        <ion-icon slot="end" size="small" name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
        <div class="concord-img-gradient"></div>

        <!-- second row section -->
        <ion-row class="ion-align-items-center ion-padding">
            <ion-col size-xs="12" size-md="6">
                <ion-text color="light">
                    <h2>{{ 'home.h2-1' | translate }}</h2>
                    <p>{{ 'home.p-3' | translate }}</p>
                </ion-text>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
                <div class="video-image-tv">
                    <ion-img src="./assets/images/netflix-image-tv.png"></ion-img>
                    <video width="100%" autoplay playsinline muted loop>
                        <source src="./assets/images/netflix-video-tv.m4v" type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </ion-col>
        </ion-row>

        <!-- third row sectiom -->
        <ion-row class="ion-align-items-center ion-padding">
            <ion-col size-xs="12" size-md="6">
                <ion-img src="./assets/images/netflix-image-mobile.jpeg"></ion-img>
                <ion-item lines="none" class="item-download">
                    <ion-thumbnail slot="start">
                        <ion-img src="./assets/images/netflix-image-boxshot.png"></ion-img>
                    </ion-thumbnail>
                    <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
                        <h3>{{ 'home.h3-1' | translate }}</h3>
                        <p>{{ 'home.p-4' | translate }}</p>
                    </ion-label>
                    <ion-img slot="end" src="./assets/images/netflix-icon-download.gif"></ion-img>
                </ion-item>

            </ion-col>
            <ion-col size-xs="12" size-md="6">
                <ion-text color="light">
                    <h2>{{ 'home.h2-2' | translate }}</h2>
                    <p>{{ 'home.p-5' | translate }}</p>
                </ion-text>
            </ion-col>
        </ion-row>


        <!-- forth row section -->
        <ion-row class="ion-align-items-center ion-padding">
            <ion-col size-xs="12" size-md="6">
                <ion-text color="light">
                    <h2>{{ 'home.h2-3' | translate }}</h2>
                    <p>{{ 'home.p-6' | translate }}</p>
                </ion-text>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
                <div class="video-image-devices">
                    <ion-img src="./assets/images/netflix-image-device.png"></ion-img>
                    <video width="100%" autoplay playsinline muted loop>
                        <source src="./assets/images/netflix-video-device.m4v" type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </ion-col>
        </ion-row>


        <!-- fifth row section -->
        <ion-row class="ion-align-items-center ion-padding">
            <ion-col size-xs="12" size-md="6">
                <ion-img src="./assets/images/netflix-image-children.png"></ion-img>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
                <ion-text color="light">
                    <h2>{{ 'home.h2-4' | translate }}</h2>
                    <p>{{ 'home.p-7' | translate }}</p>
                </ion-text>
            </ion-col>
        </ion-row>


        <!-- footer row section -->
        <ion-row class="footer ion-align-items-center ion-padding">
            <ion-col size="12" size-md="3">
                <p>{{ 'home.p-8' | translate }}</p>
                <ul>
                    <li>{{ 'home.li-1' | translate }}</li>
                    <li>{{ 'home.li-2' | translate }}</li>
                    <li>{{ 'home.li-3' | translate }}</li>
                    <li>{{ 'home.li-4' | translate }}</li>
                    <li>{{ 'home.li-5' | translate }}</li>
                </ul>
            </ion-col>
            <ion-col size="12" size-md="3">
                <ul>
                    <li>{{ 'home.li-6' | translate }}</li>
                    <li>{{ 'home.li-7' | translate }}</li>
                    <li>{{ 'home.li-8' | translate }}</li>
                    <li>{{ 'home.li-9' | translate }}</li>
                </ul>
            </ion-col>
            <ion-col size="12" size-md="3">
                <ul>
                    <li>{{ 'home.li-10' | translate }}</li>
                    <li>{{ 'home.li-11' | translate }}</li>
                    <li>{{ 'home.li-12' | translate }}</li>
                    <li>{{ 'home.li-13' | translate }}</li>
                </ul>
            </ion-col>
            <ion-col size="12" size-md="3">
                <ul>
                    <li>{{ 'home.li-14' | translate }}</li>
                    <li>{{ 'home.li-15' | translate }}</li>
                    <li>{{ 'home.li-16' | translate }}</li>
                    <li>{{ 'home.li-17' | translate }}</li>
                </ul>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>